@keyframes reveal {
    0% {
        opacity: 0%;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}

#A {
    animation: reveal 1s;
}

#B {
    animation: reveal 3s;
}

#C {
    animation: reveal 6s;
}

.cardNew {
    box-shadow: 2px 2px 5px gray;
    padding: 16px;
    animation: reveal 1s;
    border-color: #316bb6;
    border-style: solid;
    border-width: 5px;
}


@font-face {
    font-family: "font";
    src: url("SourceSansPro-Bold.ttf");
}

body, h1, button, h2, h3, h4, h5, h6, p {
    font-family: "font";
}

a {
    color: #597ba8;
    text-decoration: none;
}

a:hover {
    color: rgb(112, 112, 112);
}

.blue {
    color: #6790c5
}

.blue-bg {
    background-color: rgb(103, 144, 197)
}